@use "../../presets" as *;
@use "../../mixins" as *;

$container-small: 720px;

.brands {
  background-color: $color-bg-accent;
  color: $color-black;
  padding: 105px 0;

  &__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto 70px;
    max-width: $container-small;
  }

  &__list {
    gap: $gap;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
